#features-container {
	background-color: transparent;
	position: absolute;
	top: calc(100vh - 80px);
	left: 0;
	right: 0;
}

.features {
	max-width: 1160px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
}

.features-card {
	width: 328px;
	height: 201px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	padding: 36px 39px;
	background-color: #ffffff;
}

.features-card > h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.1px;
	color: #252b42;
}

.features-card > p {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #737373;
}
